<!--Author: Template Stock
Author URL: http://templatestock.co
-->
 {% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
<head>
<title>Above Free Responsive Template | Template Stock</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Onepage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.css' %}"> 
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}">    
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<div class="header" id="head">	
      <div class="container"> 
         <div class="header-top">
      		 <div class="logo">
				<h2><span style=color:GoldenRod;>CHITRA</span></h2>
			 </div>
		   <div class="top-menu">
		   	<span class="menu"> </span>
			<ul>
			 	<nav class="cl-effect-5">
				<li><a class="#Home"  class="scroll"><span data-hover="home">home</span></a></li>
				<li><a href="#about" class="scroll"><span data-hover="about">about</span></a></li>
				<li><a href="#work" class="scroll"><span data-hover="work"><span>work</span></a></li>
				<li><a href="#services" class="scroll"><span data-hover="services">services</span></a></li>
				<li><a href="#contact" class="scroll"><span data-hover="contact">contact</span></a></li>
				</nav>
			 </ul>
			 </div>
			 <!--script-nav-->
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>
			<div class="clearfix"></div>
		 </div>  
		  <div class="index-banner">
       	   <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">
				   	       	<div class="banner_center">
				   		 		<h1>hello world,</h1> 
				   		 		<h2>i am <span>Web Developer</span></h2>
				   		 		<h2>from India</h2>
				   		 		</div>
				   		 </div>
					</article>
				   <article style="position: relative; width: 100%; opacity: 1;"> 
				   	   	<div class="banner-wrap">
				   	      <div class="banner_center">
							<h2>My self <span> Chitra Tiwari</span></h2> 
							<h2> I Have Completed  </h2>
							<h2> My Post Graduation In <span>Computer Science</span></h2>
				   		 		</div>
				   		  </div>
				   </article>
				   <article style="position: absolute; width: 100%; opacity: 0;">
				   	  	<div class="banner-wrap">
				   	       <div class="banner_center">
				   		 		<h2>A<span> Passionate and SmartWorking</span></h2> 
				   		 		<h2> Web Developer </h2>

				   		 		</div>
				   		 </div>
					 </article>
				 </div>
				
            </div>
            <script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
			  <script>
       			$('.example1').wmuSlider();         
   		     </script> 	           	      
      </div>
	 </div>     
	</div>
	<div class="content">
		<div style=background-color:GoldenRod;
		 class="about-section" id="about" id="about">
	<div class="container">
		<div class="about-header">
			<h3 style=color:black;>about</h3>
			<div class="about-imag">
			<img src="{% static 'images/chit.jpeg' %}" alt=""/>
			</div>
			<div class="about-text">
					<p style=color:white;>
						A web developer who is skilled, professional and specializes in creating, designing, and maintaining websites and web applications.I am a passionate and smartworking web developer and recently completed my python full stack developer training.</p> 
					<p style=color:white;>I have a good knowledge of Python,Django,Sql,Html and css languages that are basic need of a web developer..</p>
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="about-sectiongrids">
				<div class="col-md-6 about-leftgrid">
					<div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>HTML</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>75%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>CSS</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>75%</p>
					</div>
					<div style=color:GoldenRod; class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>Javascript</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>50%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>Bootstrap</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>75%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%; color:red;"> </div>
	                      </div>
	                      </div>

	</div>
	<div class="col-md-6 about-rightgrid">
		<div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>Python</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>75%</p>
					</div>
					<div style=color:black; class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>SQL</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>75%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>Web development</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>75%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4 style=color:white;>Django Framework</h4>
						</div>
						<div class="percentage">
							<p style=color:white;>75%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="arrow1">
	<a href="#work" class="scroll"><img src="{% static 'images/arrow1.png' %}" alt=""/></a>
					</div>
	</div>
	</div>
	<!-- about-section-ends -->
	<div class="works-section" id="work" id="work">
	   <div class="works-header">
			<h3>Projects</h3>
				<p>Creating interactive and dynamic web applications that provide a rich user experience. This can involve using frameworks like Django.Designing and developing personal or business portfolio websites to showcase the skills.Websites that adapt to different screen sizes and devices.Building custom APIs to expose specific functionalities of a web application.</p>
		</div>
		<div class="portfolio-section-bottom-row" id="portfolio">
			<div class="container">
				
						<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
					<script type="text/javascript">
						$(document).ready(function () {
							$('#horizontalTab').easyResponsiveTabs({
								type: 'default', //Types: default, vertical, accordion           
								width: 'auto', //auto or any width like 600px
								fit: true   // 100% fit in a container
							});
						});
						
					</script>
						<link rel="stylesheet" href="{% static 'css/swipebox.css' %}">
							<script src="{% static 'js/jquery.swipebox.min.js' %}"></script> 
								<script type="text/javascript">
									jQuery(function($) {
										$(".swipebox").swipebox();
									});
								</script>
							<!-- Portfolio Ends Here -->
						<div class="sap_tabs">
							<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
								  <ul class="resp-tabs-list">
									  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>All</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Web Designing</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Web Development</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>Database</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-4" role="tab"><span>Bootstrap</span></li>
									  <div class="clearfix"></div>
								  </ul>	
								<div id="portfoliolist">
									<div class="resp-tabs-container">
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
											<div class="tab_img">
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/boot.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/boot.png'%}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/harman.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/harman.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/project1.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/project1.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/flex.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/flex.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/weather.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/weather.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/travel.jpeg' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/travel.jpeg' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/cart.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/cart.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/bloom2.png' %} " class="swipebox"  title="Image Title">
															  <img src=" {% static 'images/bloom2.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="clearfix"></div>	
											</div>
																				 
										</div>
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
											<div class="tab_img">
												<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/pic-5.jpg' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/python.jpeg' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/pic-6.jpg' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/bloom2.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/pic-7.jpg' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/harman.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/pic-8.jpg' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/flex.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													
													<div class="clearfix"></div>	
											</div>	 	        					 
										</div>
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
											
											<div class="tab_img">
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/migrate.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/migrate.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/api.png' %}" class="swipebox"  title="Image Title">
															  <img src=" {% static 'images/api.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/sql.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/sql.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													
														<div class="clearfix"></div>
											</div>		        					 
										</div>
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
											<div class="tab_img">
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/sql.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/sql.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/migrate.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/migrate.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													
														<div class="clearfix"></div>
											</div>	
										</div>
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-4">
											<div class="tab_img">
													<div class="col-md-3 img-top grid_box">
														<a href="{% static 'images/harman.png' %}" class="swipebox"  title="Image Title">
															  <img src="{% static 'images/harman.png' %}" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="tab_img">
														<div class="col-md-3 img-top grid_box">
															<a href="{% static 'images/cart.png' %}" class="swipebox"  title="Image Title">
																  <img src="{% static 'images/cart.png' %}" class="img-responsive" alt="">
																  <span class="zoom-icon"></span> 
															</a>
														</div>
														<div class="tab_img">
															<div class="col-md-3 img-top grid_box">
																<a href="{% static 'images/boot.png' %}" class="swipebox"  title="Image Title">
																	  <img src="{% static 'images/boot.png' %}" class="img-responsive" alt="">
																	  <span class="zoom-icon"></span> 
																</a>
															</div>
															<div class="tab_img">
																<div class="col-md-3 img-top grid_box">
																	<a href="{% static 'images/port.png' %}" class="swipebox"  title="Image Title">
																		  <img src="{% static 'images/port.png' %}" class="img-responsive" alt="">
																		  <span class="zoom-icon"></span> 
																	</a>
																</div>
														<div class="clearfix"></div>
											</div>	
										</div>										
									</div>	
								</div>
							</div>
						</div>				
 
				<div class="arrow">
					<a href="#services" class="scroll"><img src="{% static 'images/arrow.png' %}" alt=""/></a>
				</div>
			</div>
		</div>
	</div>
	<!-- portfolio-section-ends -->
	<div class="services-section" id="services">
			<div class="container"> 
			<div class="services-header">
				<h3>services</h3>
					<p>I can provide a website according to customers choice as i have great experience of designing websites and also the development of that particular website with database connectivity. </p>
			</div>
			<div class="services-sectiongrids">
				<div class="col-md-4 services-grid">
					<img src="{% static 'images/img1.png' %}" alt=""/>
					<h4>web design</h4>
					<p>I can create a attractive website structure with the help of HTML and can give perfect styling with the help of css</p>
				</div>
				<div class="col-md-4 services-grid">
					<img src="{% static 'images/img2.png' %}" alt=""/>
					<h4>Web development</h4>
					<p>I have a good knowledge of Python and its framework Django that makes me a better web developer.</p>
				</div>
				<div class="col-md-4 services-grid">
					<img src="{% static 'images/img3.png' %}" alt=""/>
					<h4>Database Connectivity</h4>
					<p>Sql knowledge gives me better knowledge of data connectivity and data storage in a safe way. </p>
				</div>
				<div class="clearfix"></div>
				<div class="arrow1">
					<a href="#contact" class="scroll"><img src="{% static 'images/arrow1.png' %}" alt=""/></a>
					</div>
		</div>
		</div>
		</div>
		<!-- services-section-ends -->
	</div>
	<div class="footer-section" id="contact" id="contact">
			<div class="container"> 
			<div class="contact-header">
				<h3> contact</h3>
					<p>
						
						Thank you for exploring my portfolio. I am eager to connect and discuss potential collaborations, answer inquiries, or simply chat about exciting projects. Feel free to reach out using the contact form below, and I'll get back to you as soon as possible. Your ideas and opportunities are important to me, and I look forward to the possibility of working together. </p>
			</div>
			<div class="social-icon">
				<a href="#"><i class="icon1"></i></a>
				{% comment %} <a href='#'><i class="fa-brands fa-instagram"></i></a> {% endcomment %}
				<a href="#"><i class="icon2"></i></a>
				<a href="#"><i class="icon3"></i></a>
				<a href="#"><i class="icon4"></i></a>
			
				{% comment %} <a href="#"><i class="icon5"></i></a>
				<a href="#"><i class="icon6"></i></a>
				<a href="#"><i class="icon7"></i></a>
				<a href="#"><i class="icon8"></i></a> {% endcomment %}
			</div>
			<div class="contact">
				<form action='form' method='POST'>
					{% csrf_token %}
					<div class="col-md-4 contactgrid">
						<label style=color:white;>UserName:<input type="text" Name="username"required></label>
					</div>
					<div class="col-md-4 contactgrid">
						<label style=color:white;>Email:<input type="text" Name="email"required></label>
					</div>
					<div class="col-md-4 contactgrid">
						<label style=color:white;>Phone:<input type="text" Name="phone"required></label>
					</div>
					
					<div class="col-md-4 contactgrid2">
						<input type="Submit"Name="submit"> 
					</div>
				   <div class="clearfix"></div>
				</form>
			</div>
			<div class="footer-bottom">

					<p>&copy; 2023 Onepage . All rights  Reserved | Resume Of<a href="http://templatestock.com" target="target_blank">CHITRA TIWARI</a></p>

					</div>
					<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>

		</div>		
	</div>
	
	
</body>
</html>